<div class= "jumbotron">
    <h1 class = "text-center font-weight-bold">Tareas del 18 de Septiembre</h1>
</div>

<div class= "row"> 
    <% @todos.each do |todo| %>
        <div class= "card", style= "width: 18rem;">
            <%= image_tag todo.photo, size: '200x200' %>
            <div class="card-body">
                <h5 class="card-title"><%= todo.title %></h5>
            </div>
            <%= link_to "Ingresar a la tarea", todo_users_path %>

            <!-- <#%= button_to "Marcar como completado", todo_todo_users_path(todo), class: 'btn btn-primary', method: :post%>
            <#% if todo.todo_users.completed == true%>
            <p class="card-text"><#%= link_to "Marcar como no completado", complete_todo_path(todo), method: 'POST', class: "btn btn-danger" %></p>
        <#% elsif todo.todo_users.completed == false%>
            <p class="card-text"><#%= link_to "Marcar como completado", complete_todo_path(todo), method: 'POST', class: "btn btn-success" %></p>
        <#%end%> -->
        </div>
    <% end %>
</div>